<a class="logo" href="/"><img src="/img/logo.png" height="60px" alt="Jake's Pizza Logo"></a>

<a class="headerbutton" href="/order">Order Online</a>
<a class="headerbutton" href="/location">Locations</a>
<a class="headerbutton" href="/menu">Menu</a>
<a class="headerbutton" href="/coupons">Coupons</a>
<a class="headerbutton" href="/tracker">Tracker</a>
<a class="headerbutton" href="/rewards">Rewards</a>
<a class="signin" href="/account/login">Sign in</a>