* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
}
body {
    
}
.content {
    width: 50%;
}
header {
    text-align: center;
    background-color: #56CBF9;
    padding: 1em;
    height: auto;
}
header .signin {
    background-color: #4cb2db;
}
header img {
    vertical-align: middle;
}
header a {
    text-decoration: none;
    font-weight: bold;
    margin-left: 5px;
    color: white;
    padding: .2em;
    height: 100%;
}
header a.headerbutton:hover {
    background-color: rgba(91, 83, 255, 0.41);
}